.hobbies {
    font-family: sans-serif;
}

.explanations {
    color: rgb(247, 216, 58);
}

.home {
    font-weight: bolder;
}

.anchor {
    font-size: 15px;
}

.body {background-color: rgb(163, 163, 217);}