.hobbies {
    font-family: sans-serif;
}

.explanations {
    color: rgb(221, 193, 50);
}

.home {
    font-weight: bolder;
}

.anchor {
    font-size: 15px;
}

.body {background-color: rgb(163, 163, 217);}